In [1]:
print(range(5,10))

range(5, 10)

In [2]:
range(5,11)

range(5, 11)

In [12]:
lista=[2,5,6,3,1]

new_list=sorted(lista, reverse=True)
print (lista)
print (new_list)

[2, 5, 6, 3, 1]
[6, 5, 3, 2, 1]

In [20]:
for lista in range(100,1):
    print(lista)

In [26]:
new_list1=[]
for lista in range(1,101):
    new_list1.append(lista)

In [27]:
print (new_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [28]:

orden_descendente=sorted(new_list1, reverse=True)
for number in orden_descendente:
    print (number)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [35]:
Lista_generada=[]
for lis in range(1-101):
    print (lis)

In [34]:
print (Lista_generada)

[]

In [1]:
def functionPersonal():
    print('mensaje desde funcion')

In [2]:
functionPersonal()

mensaje desde funcion

In [3]:
 def suma(*args):
    print(args)

In [4]:
suma(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [5]:
suma('carlos',123,'cosa',True)

('carlos', 123, 'cosa', True)

In [6]:
type(suma)

function

In [11]:
def operaciones(a,b):
    return a+b,a-b,a*b,a/b

In [13]:
resuldato=operaciones(2,2)
type(resuldato)
print(resuldato)

(4, 0, 4, 1.0)

In [14]:
print(type(resuldato))

<class 'tuple'>

In [15]:
suma, resta, multiplicacion, div = operaciones(3,3)

In [16]:
print (suma, resta, multiplicacion, div)

6 0 9 1.0

In [29]:
def sumador(**kwargs):
    inicial=kwargs['inicial']if 'inicial' in kwargs else 0
    final=kwargs['final'] if 'final' in kwargs else inicial
    resuldatos=0
    for x in range(inicial,final+1):
        resuldatos += x
    return resuldatos

In [30]:
print(sumador(final=5))

15

In [31]:
anonima =lambda: print('hola')
anonima()

hola

In [1]:
def anyobisiesto():
    anio: int = int(input("introduce un anio"))
    if (anio % 4 == 0 and (anio % 100 != 0 or anio % 400 ==0)):
        print('el anio {anio} es bisiesto')
    else :
        print('el anio {anio} no es bisiesto')

In [3]:
print({anyobisiesto(anio=1994)})

TypeError: anyobisiesto() got an unexpected keyword argument 'anio'

In [4]:
print(anyobisiesto(1994))

TypeError: anyobisiesto() takes 0 positional arguments but 1 was given

In [6]:
str = input('enter your input: ')
print ('received input is : ', str)

received input is :  [x*5 for x in range(2,10,2)]

In [13]:
class Dino:
    _encendido=True
    def enciende(self):
        print('se ha encendido')
        self._encendido=True
    def apaga(self):
        print('se ha apagado')
        self._encendido=False
    def isEncendido(self):
        return self._encendido

In [16]:
d1 = Dino()
d1.apaga()
print(d1.isEncendido)

<bound method Dino.isEncendido of <__main__.Dino object at 0x00000130EE11F7D0>>

In [17]:
class Alv:
    color = None
    nombre= NotImplemented
    def __init__(self, nombre):
        self.color='Verde'
        self.nombre=nombre

In [18]:
d12=Alv(nombre='mi dino')
print(d12.nombre)
print(d12.color)

mi dino
Verde

In [19]:
name : str ='carlos'

In [20]:
type(name)

str

In [21]:
age :str ='12'
ages :int = int(age)

In [22]:
type(age)
type(ages)

int

In [23]:
type(age)

str

In [26]:
age = int(input('ingrese la edad: '))

ValueError: invalid literal for int() with base 10: 'carlos'

In [25]:
type(age)

int

In [27]:
x: float = 3.3
x_str = format(x, ".2g")
print(x_str)

3.3

In [28]:
y=1.1+2.2
print(y)

3.3000000000000003

In [30]:
x==y
print(x, y)

3.3 3.3000000000000003

In [31]:
tolerance = 0.0001
print(abs(x - y)<tolerance)

True

In [3]:
opc={1:'piedra',2:'papel',3:'tijera'}
print(opc[2])

papel